<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hjem</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    

<div class="header">
    <a href="{{url_for('home')}}"><h1>STIIM</h1></a>
</div>

<div class="navbar">
    <a href="{{url_for('logout')}}">Logout</a>

</div>

<div class="content">
    <h1>Welcome to STIIM</h1>
    <p>This is the home page.</p>
    <p>You are logged in as {{ session['username'] }}</p>
    <h2>Download Games!</h2>

    <p>Here you can download games.</p>
    <a href="https://github.com/Honapon/spilldownloads-stiim">Download Here</a>

</body>
</html>